/* GLOBALES */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: rgba(75, 75, 75, 0.2862745098);
  padding: 0px 5px;
  border-radius: 10px;
}

.divisor {
  width: 100%;
  height: 1px;
  border: 1px solid #696464;
  opacity: 0.2;
}

/* HEADER*/
.header {
  background-image: url(../img/hero.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* logo */
}
.header__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__title, .header .header__title--green {
  text-transform: uppercase;
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
}
.header .header__title--green {
  color: #4c7a34;
}
.header__check {
  display: none;
}
.header__checkbtn {
  display: none;
}
.header__menuburger {
  height: 40px;
  width: 40px;
}

/* nav-bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.navbar__link {
  color: #FFF;
  font-size: 20px;
}
.navbar__link:hover {
  color: #4c7a34;
}
.navbar__list {
  position: relative;
}
.navbar__list:hover .navbar__submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: auto;
  right: auto;
}
.navbar__submenu {
  display: none;
  background-color: rgba(105, 100, 100, 0.3137254902);
  padding: 0 5px;
  border-radius: 3px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 64px auto;
}

.footer .redes ul li a img {
  width: 20px;
  height: 20px;
}

.footer .footer--category ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer--category ul li a:hover {
  color: #4c7a34;
}

.footer p {
  align-self: end;
}

.footer .redes ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/*MAIN*/
/* Section exhibition*/
.exhibition {
  margin: 64px auto;
}

.exhibition .exhibition-title {
  margin: 10px 0;
}

.exhibition .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.card {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(139, 136, 136, 0.2862745098);
  padding: 10px 0 10px 10px;
  gap: 16px;
}

.card img {
  height: 184px;
  width: 184px;
}

/* Section payment-data */
#payment-data.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

#payment-data .payment-data-info a {
  color: #696464;
}

#payment-data .payment-data-info:first-child {
  background-color: black;
}

#payment-data .payment-data-info:first-child {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
}

#payment-data .payment-data-info:first-child h3 {
  color: #FFF;
}

/* GALERIA */
.bento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.bento a img {
  width: 100%;
  height: auto;
}

.bento a img:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.bento a:nth-child(1) {
  grid-row: 1/3;
}

.bento a:nth-child(4) {
  grid-column: 2/4;
}

/* Characteristics */
.characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px auto;
}

.characteristics--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.characteristics--item--title {
  font-size: 20px;
  margin: 8px auto;
  color: #4B4B4B;
}

.characteristics--item--desc {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Category */
/* Banner-Products */
.bg {
  margin: 64px 0;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-mate {
  background-image: url(../img/bannerMate.webp);
}

.bg-yerba {
  background-image: url(../img/bannerYerba.jpg);
}

.bg-termo {
  background-image: url(../img/bannerTermos.png);
}

/* PAGE Nosotros */
.nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 64px auto;
}

.nosotros img {
  max-width: 100%;
  height: auto;
}

.nosotros__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nosotros__content p {
  margin: 8px 0;
}

/* PAGE PRODUCT */
.product {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
}

.product img {
  max-width: 300px;
}

.product--content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

/* PAGE PRODUCTS */
.products {
  margin: 64px auto;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__card img {
  max-width: 180px;
  max-height: auto;
  justify-content: center;
}

/* PAGE Contacto */
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 64px auto;
}

.contacto form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacto form input[type=submit] {
  width: 20%;
  margin: 8px auto;
  cursor: pointer;
  background-color: rgba(76, 122, 52, 0.4666666667);
  border-radius: 10px;
}

.contacto form .button {
  display: inline;
}

.contacto__personal {
  display: flex;
}

.contacto__personal div {
  display: flex;
  flex-direction: column;
}

.border {
  border-radius: 10px;
}

.contacto__personal-margin {
  margin-right: 8px;
}

.contacto-margin {
  margin-top: 8px;
}

/*MEDIA QUERYS*/
@media (max-width: 768px) {
  #payment-data.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
  .characteristics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    height: 200px;
  }
  .nav {
    position: relative;
  }
  .nav-bar li:hover .sub-menu {
    display: none;
  }
  .nav-bar {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    top: 200px;
    left: -100%;
    text-align: center;
    display: block;
  }
  .nav-bar li {
    margin: 64px auto;
    line-height: 32px;
  }
  .nav-bar li a {
    font-size: 20px;
  }
  .checkbtn {
    display: inherit;
  }
  #check:checked ~ .nav-bar {
    left: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    gap: 8px;
  }
  .footer p {
    order: 3;
    align-self: center;
  }
  .footer .footer--category {
    order: 2;
  }
  .products__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .products__card img {
    max-width: 100px;
    max-height: auto;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .contacto__personal {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .exhibition .cards {
    flex-wrap: wrap;
    align-content: center;
  }
  .product {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1024px) {
  .product {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .product img {
    border-radius: 10px;
  }
  .products__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }
}/*# sourceMappingURL=main.css.map */