/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    margin: 64px auto;

    &__category{
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;

            &__link{
                &:hover{
                    color:#4c7a34;
                }
            }
        }
    }

    &__copy{
        align-self: end;
    }

    &__redes{
        &__menu{
            display: flex;
            justify-content: center;
            gap: 8px;

            &__img{
                width: 20px;
                height: 20px;
            }
        }
    }
}