/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    margin: 64px auto;
}

.footer .redes ul li a img{
    width: 20px;
    height: 20px;
}

.footer .footer--category ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--category ul li a:hover{
    color:#4c7a34;
}

.footer p{
    align-self: end;
}

.footer .redes ul{
    display: flex;
    justify-content: center;
    gap: 8px;
}