/* nav-bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &__list{
        position: relative;

        &__link{
            color: #FFF;
            font-size: 20px;
    
            &:hover{
                color: #4c7a34;
            }
        }

        &:hover{
            .navbar__submenu{
                display: block;
                position: absolute;
                top: 100%;
                left: auto;
                right: auto;
            }
        }
    }

    &__submenu{
        display: none;
        background-color: #69646450;
        padding: 0 5px;
        border-radius: 3px;
    }
}