/* GLOBALES */
html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 20px;
}

.color-green{
    color:#4c7a34;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.btn{
    cursor: pointer;
    background-color: #4b4b4b49;
    padding: 0px 5px;
    border-radius: 10px;
}

.divisor{
    width: 100%;
    height: 1px;
    border: 1px solid #696464;
    opacity: .2;
}