/*MEDIA QUERYS*/
@media (max-width:768px) {
    #payment-data.container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    
    .characteristics{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .header{
        height: 200px;
    }

    .nav{
        position: relative;
    }

    .nav-bar li:hover .sub-menu{
        display: none;
    }

    .nav-bar{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 200px;
        left: -100%;
        text-align: center;
        display: block;

    }

    .nav-bar li{
        margin: 64px auto;
        line-height:32px ;
    }
    .nav-bar li a{
        font-size: 20px;
    }

    .checkbtn{
        display: inherit;
    }

    #check:checked~.nav-bar{
        left: 0;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
        gap: 8px;
    }

    .footer p{
        order: 3;
        align-self: center;
    }

    .footer .footer--category {
        order:2 ;
    }

    .products__cards{
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }

    .products__card img{
        max-width: 100px;
        max-height: auto;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
    }

    .contacto__personal{
        flex-direction: column;
    }

}

@media ( max-width: 1024px) {
    .exhibition .cards{
        flex-wrap: wrap;
        align-content: center;   
    }

    .product{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

@media ( min-width: 1024px) {
    .product{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .product img{
        border-radius: 10px;
    }

    .products__cards{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }
    
}