/* PAGE Contacto */
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 64px auto;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__personal{
            display: flex;

            &__name{
                display: flex;
                flex-direction: column;

                &--margin{
                    margin-right: 8px;
                }
            }
        }

        &__btn{
            margin: 8px auto;
            background-color: #4c7a3477;
        }
    }
}

.border{
    border-radius: 10px;
}