/* PAGE Nosotros */
.nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 64px auto;

    &__img{
        max-width: 100%;
        height: auto;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__text{
            margin: 8px 0;
        }
    }
}