/* PAGE PRODUCT */
.product__container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;

    &__img{
        max-width: 300px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }
}
