/* PAGE PRODUCT */
.product{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
}

.product img{
    max-width: 300px;
}

.product--content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}