/* PAGE PRODUCTS */
.products{
    margin: 64px auto;

    &__cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;

        &__card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__img{
                max-width: 180px;
                max-height: auto;
                justify-content: center;
            }
        }
    }
}
